In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('cars_india.csv')

In [2]:
# make a copy of the dataset
df2 = df.copy()

Extractions

In [3]:
# extract make of car
df2['name_new'] = df2.name.str.strip() 
df2['name_new'] = df2.name_new.str.split().str[0]

In [4]:
# extract mileage
df2['mileage_new'] = df2.mileage.str.strip()
df2[['mileage_new','junk']] = df2.mileage_new.str.split(' ', expand=True)
df2['mileage_new'] = pd.to_numeric(df2['mileage_new'])

In [5]:
# extract engine size
df2['engine_new'] = df2.engine.str.strip()
df2[['engine_new','junk']] = df2.engine_new.str.split(' ', expand=True)
df2['engine_new'] = pd.to_numeric(df2['engine_new'])

In [6]:
# extract horsepower
df2['max_power_new'] = df2.max_power.str.strip()
df2[['max_power_new','junk']] = df2.max_power_new.str.split(' ', expand=True)

# only one row has a missing bhp value, so we drop it
df2 = df2[df2.max_power_new != 'bhp']
df2['max_power_new'] = pd.to_numeric(df2['max_power_new'])

Conversions

In [7]:
# convert indian rupees to usd
df2['selling_price_usd'] = df2['selling_price']*0.013

In [8]:
# convert km to miles
df2['miles_driven'] = df2['km_driven']*0.621371

In [9]:
# convert kmpl to mpg
df2['mileage_new'] = df2['mileage_new']*2.352145833

Binaries

In [10]:
# binaries for transmission, owner, seller_type, fuel, extracted make
df2 = pd.get_dummies(data=df2, columns=['transmission','owner','seller_type','fuel','name_new'])

Code year

In [11]:
df2['year'] = 2020 - df2['year']

Dropping useless columns

In [12]:
df2 = df2.drop(['junk','mileage','selling_price','km_driven','torque','max_power','engine'], axis=1)

In [13]:
df2

,name,year,seats,mileage_new,engine_new,max_power_new,selling_price_usd,miles_driven,transmission_Automatic,transmission_Manual,...,name_new_Mitsubishi,name_new_Nissan,name_new_Opel,name_new_Peugeot,name_new_Renault,name_new_Skoda,name_new_Tata,name_new_Toyota,name_new_Volkswagen,name_new_Volvo
0,Maruti Swift Dzire VDI,6,5.0,55.040212,1248.0,74.00,5850.0,90409.4805,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Skoda Rapid 1.5 TDI Ambition,6,5.0,49.724363,1498.0,103.52,4810.0,74564.5200,0,1,...,0,0,0,0,0,1,0,0,0,0
2,Honda City 2017-2020 EXi,14,5.0,41.632981,1497.0,78.00,2054.0,86991.9400,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Hyundai i20 Sportz Diesel,10,5.0,54.099354,1396.0,90.00,2925.0,78914.1170,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Maruti Swift VXI BSIII,13,5.0,37.869548,1298.0,88.20,1690.0,74564.5200,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,7,5.0,43.514698,1197.0,82.85,4160.0,68350.8100,0,1,...,0,0,0,0,0,0,0,0,0,0
8124,Hyundai Verna CRDi SX,13,5.0,39.516050,1493.0,110.00,1755.0,73943.1490,0,1,...,0,0,0,0,0,0,0,0,0,0
8125,Maruti Swift Dzire ZDi,11,5.0,45.396415,1248.0,73.90,4966.0,74564.5200,0,1,...,0,0,0,0,0,0,0,0,0,0
8126,Tata Indigo CR4,7,5.0,55.440077,1396.0,70.00,3770.0,15534.2750,0,1,...,0,0,0,0,0,0,1,0,0,0
8127,Tata Indigo CR4,7,5.0,55.440077,1396.0,70.00,3770.0,15534.2750,0,1,...,0,0,0,0,0,0,1,0,0,0